@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
  min-height: 100dvh;
  background-color: var(--main-bg);
  display: flex;
  flex-direction: column;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

:root {
  --main-bg: #212a3b;
  --white: #cdd5e0;
  --secondary-white: #97a2b4;
  --grey: #4b5668;
  --secondary-black: #111628;
}

header {
  height: 12.625rem;
  background-image: url("./assets/hero-image.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: start;
  justify-content: center;
}

.search-bar {
  background-color: var(--main-bg);
  width: 75%;
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-top: 2.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  position: relative;
}

.search-bar img {
  width: 1.3rem;
}

.search-bar input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: var(--white);
  padding-left: 1rem;
}

.search-bar::after {
  content: "Invalid username";
  display: var(--error-disp, none);
  color: red;
  position: absolute;
  top: 100%;
  left: 5%;
  margin-top: 0.2rem;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 600;
}

.content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.user-info {
  padding: 0 2rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.user-main__info {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.avatar-holder {
  background-color: var(--secondary-black);
  border-radius: 1rem;
  padding: 0.4rem;
}

.avatar-holder img {
  width: 6rem;
  border-radius: 100%;
}

.user-main__info h1 {
  color: var(--white);
}

.user-main__info p {
  color: var(--secondary-white);
  font-size: 0.9rem;
}

.user-highlight {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.user-detail {
  background-color: var(--secondary-black);
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.user-detail span:nth-child(1),
.user-detail span:nth-child(2) {
  color: var(--secondary-white);
  font-weight: 500;
}

.user-detail span:nth-child(3) {
  color: var(--white);
}

.link {
  align-items: center;
  gap: 1rem;
}

.twitter,
.blog {
  display: none;
}

.user-links img {
  width: 1.3rem;
}

.user-links a {
  color: var(--white);
  text-decoration: none;
}

.repo-cont {
  padding: 2rem;
  flex-grow: 1;
  position: relative;
}

.repositories {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.repositories > div {
  background-color: var(--secondary-black);
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
}

.repositories h1 {
  font-size: 1.3rem;
  color: var(--white);
}

.repositories p {
  font-size: 0.9rem;
  color: var(--secondary-white);
}

.repositories div > div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.repositories div > div span {
  background-color: var(--secondary-white);
  color: var(--secondary-black);
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 0.5rem;
  font-size: 0.85rem;
}

.repositories img {
  width: 1rem;
}

.extra-info {
  margin: 0.5rem 0;
  display: flex;
}

.extra-info div:nth-child(1) {
  margin-right: 0.5rem;
}

.pagination {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.pagination-numbers {
  display: flex;
  gap: 0.5rem;
}

.pagination-numbers button {
  padding: 0.2rem 0.5rem;
  background: var(--secondary-white);
  color: var(--secondary-black);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

.pagination-numbers button:hover {
  background-color: var(--white);
}

.overlay {
  position: absolute;
  background-color: var(--secondary-black);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.loader {
  position: relative;
  width: 75%;
  padding: 2rem 0;
  overflow: hidden;
}

.loader .wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.loader .wrapper > div {
  background-color: #97a2b4;
}

.loader .circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loader .line-1 {
  position: absolute;
  top: 30px;
  left: 128px;
  height: 10px;
  width: 150px;
  border-radius: 1rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loader .line-2 {
  position: absolute;
  top: 60px;
  left: 128px;
  height: 10px;
  width: 200px;
  border-radius: 1rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loader .line-3 {
  position: absolute;
  top: 140px;
  left: 0px;
  height: 10px;
  width: 75%;
  border-radius: 1rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.loader .line-4 {
  position: absolute;
  top: 170px;
  left: 0px;
  height: 10px;
  width: 92%;
  border-radius: 1rem;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.repo-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}

.repo-overlay .loader .line-1,
.repo-overlay .loader .line-2 {
  left: 0;
}

.repo-overlay .loader .line-3 {
  top: 100px;
}

.repo-overlay .loader .line-4 {
  top: 130px;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.repo-count {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-self: flex-end;
  padding: 0 2rem;
}

.repo-count p {
  color: var(--secondary-white);
}

.repo-count input {
  width: 5rem;
}

select {
  padding: 0.2rem 0.5rem;
  background: var(--secondary-white);
  color: var(--secondary-black);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

@media (min-width: 768px) {
  header {
    height: 15.625rem;
  }

  .search-bar {
    width: 28rem;
  }

  .content {
    padding: 2rem 6rem;
  }

  .user-main__info {
    gap: 3rem;
  }

  .avatar-holder {
    padding: 0.6rem;
  }

  .repositories {
    justify-content: space-evenly;
  }

  .avatar-holder img {
    width: 6rem;
  }

  .repositories > div {
    width: 28rem;
  }
}
